body {
  margin: 0;
}

.character {
  padding: 0;
  height: 21vw;
  width: 21vw;
  margin-left: 55vw;
  margin-top: 28vh;
}

.person {
  background: url('./img/bitmoji.png') no-repeat center center scroll;
  background-color: #fff;
  background-size: contain;
  height: 15em;
  width: 15em;
  margin: auto;
}

.laptop {
  background: url('./img/laptop.png') no-repeat center center scroll;
  background-color: #fff;
  background-size: cover;
  border: 1px solid #9a9a9a;
  border-radius: 10px;
  box-shadow: 1px 2px 3px #9a9a9a;
  height: 12em;
  width: 18em;
  margin: -7em auto;
  position: relative;
  z-index: 1;
}

.desk {
  background: url('./img/desk.png') no-repeat center center scroll;
  background-color: #fff;
  background-size: contain;
  width: 75rem;
  height: 16rem;
  position: absolute;
  top: 65vh;
  left: 25vw;
}

@media only screen and (max-width: 1000px) {
  .desk {
    left: 10vw;
  }
}

@media only screen and (max-width: 600px) {
  .desk {
    left: 0;
  }
}
